
<h1><%= @cocktail.name %></h1>

<div class="row">
  <div class="col-lg-4 col-md-5 col-10 mx-auto">
    <div class="cocktail-img">
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key %>
      <% else %>
        <%= image_tag "cocktails/cocktail-#{(1..45).to_a.sample}.png", alt: "cocktail-illustration" %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-10 mx-auto">
    <% if @cocktail.ingredients.count > 0 %>
    <%= render "recipe" %>
    <% else %>
    <%= render "doses/new" %>
    <% end %>
  </div>
</div>
<div class="row mt-5 pt-5" id="new_dose">
  <div class="col-lg-8 col-10 mx-auto">
    <%= render "doses/new" if @cocktail.ingredients.count > 0 %>
  </div>
</div>

